.cart__form-body{
    margin-top: 6px;
    border-top: 1px solid #d4d4d483;
    border-right: 1px solid #d4d4d483;
    padding-top: 30px;
    position: relative;

}

.cart__form{
    padding-bottom: 100px;

}
@media(max-width:770px){
    .cart__way{
        display: none;
    }
}
.cart__way-path{
    display: inline-block;
    width: 5px;
    background-color: #757575;
    position: absolute;
    top: 0;
    left: -33px;
}
.cart__way-path:nth-child(1){
    background-color: #DBC2A4;
    height: 41%;
}
.cart__way-path:nth-child(2){
    background-color: #757575;
    top: 41%;
    height: 50%;
}
.cart__way-path.active:nth-child(2){
    background-color: #DBC2A4;
}
.cart__way-path:nth-child(3){
    background-color: #757575;
    height: 10%;
    top: 90%;
}
.cart__way-path.active:nth-child(3){
    background-color: #DBC2A4;
}
.cart__way-path:nth-child(1):before, .cart__way-path:nth-child(2):before, .cart__way-path:nth-child(3):before{
    content: '1';
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    display: block;
    background-color: #C91111; 
    border-radius: 50%;
    position: relative;
    transform: translate(-40%,0);
}
.cart__way-path:nth-child(2):before{
    background-color:#D9D9D9;
    content: '2';
}
.cart__way-path.active:nth-child(2):before{
    background-color:#C91111;
    content: '2';
}
.cart__way-path:nth-child(3):before{
    background-color:#D9D9D9;
    content: '3';
}
.cart__way-path.active:nth-child(3):before{
    background-color:#C91111;
    content: '3';
}
.cart__way-path:nth-child(3)::after{
    content: '4';
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translate(-40%, 50%);
    background-color:#D9D9D9;
}
.cart__way-path.end:nth-child(3)::after{
    background-color:#1ABC00;
}
.cart__form-checkbox{
    margin: 0 !important;
}
.cart__form-row{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.cart__form-row:nth-child(2){
    grid-template-columns:  1fr;
}
.cart__form-row:nth-child(2) .cart__form-column{
    display: flex;
    flex-direction: column;
}
.cart__form-column{
    display: flex;
    align-items: start;
    width: 100%;
}
.cart__form-column:first-child{
    max-width: 242px;
    box-sizing: content-box;
    padding-right: 181px;
}
.cart__form-column:first-child{
    border-right: 1px solid #D4D4D483;
}
.cart__form-column:last-child{
    justify-self: center;
}
.cart__form-title{
    font-size: 24px;
    margin-top: 28px;
}
.cart__form-form{
    display: flex;
    flex-direction: column;
}
.cart__form-form:last-child{
    width: 256px;
}
.cart__form-form input, .cart__form-row:nth-child(2) .cart__form-column input{
    border: 1px solid #757575;
    border-radius: 4px;
    padding: 11px 6px;
    margin-bottom: 12px;
}
.cart__form-form label{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    border-bottom: 1px solid #D4D4D483;
    padding-bottom: 8px;
    margin-bottom: 24px;
    cursor: pointer;
}
.cart__form-form span, .cart__form-row:nth-child(2) .cart__form-column span{
    font-size: 16px;
    margin-bottom: 12px;
}
.cart__form-row:nth-child(2) .cart__form-title{
    border-bottom: 1px solid #D4D4D483;
    padding-bottom: 6px;
    padding-top: 24px;
    margin-bottom: 12px;
}
.cart__form-row:nth-child(2) .cart__form-column{
    max-width: 242px;
    justify-self: start;
}
.cart__form-row:nth-child(2) .cart__form-column input{
    width: 100%;
}
.cart__form-row:nth-child(2) span:first-child{
    font-size: 16px;
    border: none;
    margin-bottom: 6px;
    padding-bottom: 0;
}
.cart__form-row:nth-child(2) span{
    font-size: 16px;
    border-bottom: 1px solid #D4D4D483;
    margin-bottom: 26px;
    padding-bottom: 6px;
}
.cart__form-columnColumn label{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #D4D4D483;
    margin-bottom: 12px;
    padding-bottom: 8px;
    display: block;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cart__form-columnColumn-button{
    width: 161px;
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #A3A3A3;
    margin-bottom: 12px;
}
.cart__form-map, .cart__form-map-content{
    display: flex;
    flex-direction: column;
}
.cart__form-map-map{
    width: 335px;
    height: 144px;
    display: block;
    background-color: #A3A3A3;
    border-radius: 8px;
    margin-bottom: 8px;
}
.cart__form-map.hide{
    opacity: 0;
    pointer-events: none;
}
.cart__form-map-content{
    max-width: 240px;
}
.cart__form-map-contentTitle{
    font-size: 14px;
}
.cart__form-map-contentStreet{
    font-size: 12px !important;
    border: none !important;
    margin-bottom: 0 !important;
}
.cart__form-map-contentSumm{
    margin-bottom: 0 !important;
    font-size: 12px !important;

}
.cart__form-map-contentButton{
    text-align: start;
    margin-top: 12px;
    color: #C91111;
    font-size: 12px !important;
}
.cart__form-columnRow{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.cart__form-adres{
    font-size: 14px !important;
    border: none !important;
    margin: 0 !important;
    padding: 0;
}
.cart__form-columnColumn:nth-child(1){
    border-right: 1px solid #D4D4D483;
}
.cart__form-columnColumn:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 34px;
}
.cart__form-columnColumn:nth-child(2) label{
    align-items: center;
    margin-left: 95px;
}
.cart__form-columnColumn:nth-child(2) input{
    border: 1px solid #757575;
    height: 40px;
    border-radius: 4px;
    width: 100%;
    padding: 0 6px;
}
.cart__form-columnInputs{
    display: flex;
    max-width: 310px !important;
    grid-gap: 12px;
}
.cart__form-adresInput{
    max-width: 256px;
    margin-bottom: 12px;
}
.cart__form-columnColumn-checkbox{
    width: 13px !important;
}
.cart__form-row.last{
    border-bottom: 1px solid #D4D4D483;
    padding-bottom: 12px;
}
.cart__form-row.last .cart__form-column{
    display: flex;
    flex-direction: column;
}

.cart__form-row.last .cart__form-column:first-child{
    max-width: 240px;
}
.cart__form-row.last .cart__form-column:last-child{
    max-width: 277px;
}
.cart__form-row.last label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #D4D4D483;
    margin-bottom: 12px;
    padding-bottom: 8px;
}
.sbp{
    font-size: 20px;
    cursor: pointer;
}
.cart__form-title.sbp{
    font-size: 24px;
    display: block;
    border-bottom: 1px solid #D4D4D483;
    margin-bottom: 12px;
    padding-bottom: 6px;
}
.cart__form-form input[type="checkbox"], .cart__form-column input[type="checkbox"], .cart__form-columnColumn input[type="checkbox"]{
    accent-color: #53391a !important;
    border-radius: 4px;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
}
input:disabled {
    /* Ваши стили для неактивного инпута */
    opacity: 0.5 !important; /* Пример: снижаем прозрачность до 50% */
    cursor: not-allowed !important; /* Пример: меняем курсор на "не разрешено" */
  }

  .cart__form-span--disabled {
    color: #00000031;
  }
@media (max-width: 1025px) {
    .cart__container {
        flex-direction: column;
    }
    .cart__buy{
        margin-top: 0;
    }
    .cart__buy.end{
        margin-top: 0;
    }
    .cart__buy__contaier{
        max-width: 100%;
        margin-bottom: 50px;
    }
    .cart__cart{
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 970px) {
    .cart__buy{
        display: flex;
        justify-content:center;
    }
    .cart__buy__contaier{
        max-width: 400px;
    }
}
@media (max-width: 750px) {
    .cart__buy__contaier{
        max-width: 262px;
    }
}
@media (max-width: 858px) {
    .cart__form-row:first-child{
        grid-template-columns: 1fr 1fr;
    }
    .cart__form-column:first-child {
        padding: 0;
        border: none;
        max-width: 100%;
    }
    .cart__form-column:last-child{
        display: flex;
        align-items: start;
        width: 100%;
        justify-content: center;
    }
}